@keyframes ping-pulse {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

a {
  text-decoration: none;
}

/* .sidebar--link .sidebar--link-bg {
    @apply w-full h-full opacity-0 absolute -z-1 ease-in transition-all bg-lava-primary filter blur-lg rounded-full;
    left: calc(var(--left));
    top: var(--top);
} */

.account--address {
  @apply text-lava-mute mb-0 mt-0 w-[60%] truncate text-sm;
}

.account--info--header {
  @apply text-lava-white mb-1.5 mt-0 box-border flex w-full flex-shrink-0 items-center space-x-2 text-[16px] font-medium;
}

.account--type {
  @apply text-misc border-lava-700 bg-lava-card absolute right-4 top-4 rounded-xl border border-solid bg-opacity-50 p-1.5 px-2 text-xs font-medium font-medium transition duration-200;
}

.account--view-icon {
  @apply h-[14px] w-[14px];
}

.account--view-option {
  @apply hover:bg-lava-700 flex cursor-pointer items-center space-x-1 rounded-md p-1 px-2 opacity-50 transition transition-all duration-300 hover:bg-opacity-60;
}

.account--view-type {
  @apply bg-lava-900 border-lava-800 absolute right-2.5 top-2.5 flex items-center justify-center gap-x-1 rounded-lg border border-solid p-1 px-1.5 text-[14px];
}

.accounts {
  @apply my-2 ml-2 flex;
}

.accounts--filters {
  @apply ml-auto flex w-[40%] items-center justify-center gap-x-2;
}

.already--exists {
  @apply -mb-2 mt-3 text-sm font-medium text-[#FE6054];
}

.anchor--provider {
  @apply mt-5 text-sm font-medium text-[#FE9154];
}

.arg--type {
  @apply text-lava-mute text-sm;
}

.assign--button {
  @apply bg-lava-700 border-lava-700 box-border flex cursor-pointer items-center justify-center rounded-xl border border-solid border-opacity-50 bg-opacity-20 p-3 transition duration-200 hover:bg-opacity-40;
}

.assign--button--image {
  @apply h-[16px] w-[16px];
}

.assign--tokens {
  @apply bg-lava-700 border-lava-700 box-border flex h-[55px] w-full items-center space-x-2 rounded-xl border border-solid border-opacity-20 bg-opacity-10 p-1;
}

.assign--tokens--amount {
  @apply w-[50%];
}

.assign--tokens--wallet {
  @apply w-full;
}

.assign--tokens--wrapper {
  @apply mt-6 flex h-full w-full items-center space-x-4;
}

.assigned--header {
  @apply text-lava-mute mt-4 text-sm font-medium;
}

.assigned--token {
  @apply bg-lava-bg border-lava-700 box-border flex h-full w-full items-center gap-x-2 rounded-lg border border-solid border-opacity-40 bg-opacity-40 p-3;
}

.assigned--tokens {
  @apply mt-2 flex max-h-[150px] flex-col gap-y-2 overflow-auto pr-4;
}

.assigned--tokens::-webkit-scrollbar {
  width: 0.3em !important;
}

.assigned--tokens::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  @apply !bg-lava-700;
}

.assigned--wallet--amount {
  @apply text-lava-mute !ml-auto font-mono font-medium;
}

.assigned--wallet--name {
  @apply text-sm font-semibold;
}

.ata--assign {
  @apply ml-auto flex flex-row items-center gap-x-1;
}

.ata--title {
  @apply text-lava-mute font-mono text-sm tracking-wider;
}

.ata--amount {
  @apply font-mono mb-3
}

.back--button {
  @apply cursor-pointer transition duration-200 hover:-translate-x-2 hover:transform;
}

.blank--program::after {
  background: linear-gradient(
    var(--rotate),
    transparent,
    #00c270,
    #146f48,
    transparent 100%
  );
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
  @apply transition duration-200;
}

.blank--program:hover {
  background: linear-gradient(180deg, rgb(94, 230, 173, 0.1), #1e1f22);
  border-radius: inherit;
  @apply transition transition-opacity duration-200;
}

.border-lava-error {
  @apply border-lava-error;
}

.bordered-container {
  border: rgb(38, 39, 43) solid 1px;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.btn {
  @apply flex w-full items-center justify-center rounded-xl border-none outline-none;
}

.btn--disabled {
  @apply hover: !cursor-auto !opacity-30 !opacity-40 hover:shadow-none;
}

.btn--dropdown {
  @apply text-lava-white bg-lava-bg border-lava-800 focus:border-lava-700 border-radius: 10px relative flex cursor-pointer !justify-start rounded-xl border border-solid p-2.5 px-4 text-sm font-medium outline-none transition duration-200 focus:border-opacity-100;
}

.btn--dropdown-open {
  @apply !rounded-b-none;
}

.btn--dropdown:hover {
  @apply border-lava-700 transition duration-200;
}

.btn--end {
  @apply ml-auto;
}

.btn--fit {
  width: max-content !important;
  @apply !px-4;
}

.btn--lava {
  background: radial-gradient(
    75.92% 147% at 58.61% -47%,
    #fe9154 0%,
    #fe6054 100%
  );
  border: 1.25px solid #18181b;
  border-radius: 10px;
  box-shadow:
    0px 4px 1px 0px rgba(209, 209, 214, 0.15) inset,
    0px 0px 10px 0px rgba(254, 96, 84, 0.25);
  @apply text-lava-white relative rounded-xl p-2.5 text-base outline-none transition duration-200 hover:cursor-pointer;
}

.btn--primary {
  background: radial-gradient(
    75.92% 147% at 58.61% -47%,
    #383a41 0%,
    #26272b 100%
  );
  border-radius: 10px;
  @apply text-lava-white relative rounded-xl p-2.5 text-base font-medium outline-none transition duration-200;
}

.btn--primary::after {
  background: linear-gradient(180deg, #f4f4f533, #f4f4f500);
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
}

.btn--primary:hover {
  @apply shadow-lava-900 brightness-120 cursor-pointer shadow-inner filter transition duration-200;
}

.btns--modal {
  @apply mt-10 flex w-full space-x-2;
}

.card:hover .edit-icon {
  opacity: 1;
}

.card:hover .trash-icon {
  opacity: 1;
}

.caret {
  background-color: #9292ad;
  height: 16px;
  -webkit-mask: url("/caret.svg") no-repeat 50% 50%;
  mask: url("/caret.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 16px;
  @apply transition transition-all duration-100;
}

.caret--rotated {
  @apply rotate-90 transform;
}

.common--header {
  @apply mb-8 box-border flex w-full items-center pr-4;
}

.common--slug {
  @apply text-lava-mute relative mb-2 flex items-center space-x-2 font-medium;
}

.common--subtitle {
  @apply text-lava-mute mb-5 text-lg font-medium;
}

.common--title {
  background: radial-gradient(50% 50% at 50% 50%, #f4f4f5 0%, #d1d1d6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  -webkit-text-fill-color: transparent;
  width: max-content;
  @apply mb-8 mt-0 flex items-center gap-x-2 text-3xl font-bold;
}

.common--wrapper {
  @apply flex h-screen w-full px-12 pt-8;
}

.completed--badge {
  @apply border-lava-success bg-lava-success text-lava-success absolute left-4 top-4 rounded-full border-solid border-opacity-30 bg-opacity-10 p-1 px-2 text-xs font-medium;
}

.connect {
  @apply relative;
}

.connect--button {
  @apply bg-lava-900 hover:bg-lava-800 relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-lg transition duration-100 hover:bg-opacity-50;
}

.connect--change {
  @apply !text-lava-mute text-xs font-medium;
}

.content {
  @apply flex w-full overflow-hidden;
}

.content--header {
  @apply flex items-center space-x-1;
}

.create--account {
  @apply flex flex-col gap-y-2 text-center text-sm font-medium;
}

.create--account--card {
  aspect-ratio: 1/1;
  @apply bg-lava-card border-lava-700 relative box-border flex h-full w-full cursor-pointer items-center justify-center overflow-hidden rounded-xl border border-solid border-opacity-20 bg-opacity-90 p-2 transition duration-200 hover:border-opacity-70;
}

.create--account--card img {
  @apply w-[85%];
}

.create--account--grid {
  @apply mt-4 grid grid-cols-2 gap-4;
}

.disabled--workspace {
  @apply ml-4;
}

.divider {
  @apply !border-lava-700 my-0 w-full border-solid opacity-50;
}

.dropdown {
  @apply relative w-full;
}

.dropdown--content {
  z-index: 9999999;
  @apply bg-lava-bg border-lava-800 absolute left-0 top-10 box-border h-max w-full rounded-b-lg border border-t-0 border-solid p-1;
}

.dropdown--option {
  @apply hover:bg-lava-900 cursor-pointer rounded-lg p-2.5 px-3 transition duration-200;
}

.dropdown--options {
  @apply max-h-30 flex flex-col overflow-y-auto;
}

.dropdown--options:-webkit-scrollbar {
  width: 0.5em;
}

.dropdown--options::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-lava-700;
}

.edit img {
  height: 100%;
  width: 100%;
}

.edit-icon {
  background-color: #9292ad;
  cursor: pointer;
  height: 20px;
  -webkit-mask: url("/edit.svg") no-repeat 50% 50%;
  mask: url("/edit.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 3.5rem;
  top: 1.5rem;
  transition: 200ms;
  width: 20px;
  z-index: 100;
}

.edit-icon:hover {
  background-color: #cccce0;
}

.empty--state {
  @apply flex h-[75vh] w-full flex-col items-center justify-center gap-y-2;
}

.empty--state--image {
  @apply mb-6 w-[33vw];
}

.empty--state--image--modal {
  @apply my-6 w-[70%];
}

.empty--state--modal {
  @apply flex w-full flex-col items-center justify-center gap-y-2;
}

.empty--state--search {
  @apply text-lava-mute text-lg;
}

.empty--state--subtext {
  @apply text-lava-mute -mt-4 mb-4 mt-0;
}

.empty--state--text {
  @apply text-lava-primary mb-4 text-xl font-semibold;
}

.export--page--grid {
  @apply grid grid-cols-5 gap-8 w-full h-full ;
}

.export--grid {
  @apply mt-4 grid grid-cols-3 gap-4;
}

.export--page {
  @apply flex flex-col
}

.font-black {
  @apply font-black;
}

.getting-started--btn {
  @apply mt-5;
}

.gradient {
  @apply absolute -bottom-[100%] -left-[45%] z-10 overflow-hidden opacity-50;
}

.header--buttons {
  @apply items-cetner ml-auto flex gap-x-2;
}

.hide-selected-item {
  @apply hidden;
}

.input--disabled {
  opacity: 0.2;
  @apply transition ease-in;
}

.input--group {
  @apply relative flex w-[150%] items-center;
}

.input--group .input--primary {
  text-indent: 20px;
}

.input--invalid {
  @apply border-lava-error focus:border-lava-error;
}

.input--primary {
  @apply text-lava-white bg-lava-bg border-lava-800 focus:border-lava-700 relative box-border h-[42px] w-full rounded-[10px] border border-solid p-4 font-medium outline-none transition transition-all duration-200 focus:border-opacity-100;
}

.input--primary::placeholder {
  @apply text-lava-mute;
}

.input--search--icon {
  background-color: #131316;
  background-image: url("/search.svg");
  background-size: cover;
  z-index: 999;
  @apply absolute left-2.5 h-[20px] w-[20px] cursor-pointer;
}

.instruction--list {
  @apply mt-4 flex flex-col gap-y-4;
}

.instruction--list--value {
  @apply flex items-center gap-x-2;
}

.instruction--list--value img {
  @apply h-[16px] w-[16px];
}

.list-open input {
  caret-color: white !important;
  @apply rounded-b-none;
}

.modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.modal--background {
  @apply bg-lava-bg absolute h-full w-full bg-opacity-90 backdrop-blur-sm backdrop-filter;
}

.modal--close {
  background-image: url("/close.svg");
  background-size: cover;
  @apply absolute right-4 top-5 h-[20px] w-[20px] cursor-pointer;
}

.modal--content {
  z-index: 10000000;
  @apply bg-lava-900 relative w-[50%] rounded-xl p-5;
}

.modal--content::after {
  background: linear-gradient(#383a41, #383a4120 100%);
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 1;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
  @apply transition duration-200;
}

.modal--form {
  @apply border-b-0 border-l-0 border-r-0 border-t pb-2 pt-2;
}

.modal--form--group {
  @apply relative;
}

.modal--form--label-end {
  @apply text-lava-mute !ml-auto mb-2 self-end text-xs;
}

.modal--form--warning {
  @apply flex items-center rounded-lg border border-solid border-[#FFA929] border-opacity-50 bg-[#FFA929] bg-opacity-10 p-2.5 px-4 text-sm font-medium text-[#FFA929];
}

.modal--form--warning img {
  @apply mr-3 h-[20px] w-[20px];
}

.modal--form-inline {
  @apply flex w-full flex-row items-center space-x-2;
}

.modal--form-item {
  @apply flex w-full flex-col;
}

.modal--form-title {
  @apply text-lava-secondary mb-2 mt-4 text-sm font-semibold;
}

.modal--title {
  @apply mb-0 mt-0 text-xl font-medium;
}

.modal--variant::after {
  background: linear-gradient(var(--borderColor), #383a4120 100%) !important;
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.2;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
  @apply transition duration-200;
}

.nest--break {
  @apply !mt-4;
}

.new--account {
  @apply mt-auto gap-x-2 text-sm font-medium text-white;
}

.new--account img {
  @apply w-[18px] brightness-150 filter;
}

.new--token {
  @apply cursor-pointer transition duration-200 hover:brightness-125 hover:filter;
}

.new--token::before {
  background: linear-gradient(180deg, var(--color), transparent 100%);
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.4;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
}

.new--wallet {
  @apply !mt-auto flex items-center;
}

.new--wallet-icon {
  @apply mr-2 h-[16px] w-[16px];
}

.new--wallet-text {
  @apply text-lava-white text-lg font-medium;
}

.nft--program::after {
  background: linear-gradient(
    var(--rotate),
    transparent,
    #8a54fe,
    #471e9e,
    transparent 100%
  );
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
  @apply transition duration-200;
}

.nft--program:hover {
  background: linear-gradient(180deg, rgba(138, 84, 254, 0.1), #1e1f22);
  border-radius: inherit;
  @apply transition transition-opacity duration-200;
}

.no--text {
  @apply hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  -webkit-user-select: none;
  @apply relative m-0 h-full w-full overflow-hidden font-sans;
}

.ping {
  @apply relative flex h-3.5 w-3.5 items-center justify-center;
}

.ping--inner {
  @apply bg-lava-success relative z-10 inline-flex h-1.5 w-1.5 rounded-full;
}

.ping--outer {
  @apply bg-lava-success absolute inline-flex h-full w-full rounded-full opacity-20;
}

.ping--pulse {
  animation: ping-pulse 1.8s infinite;
  @apply bg-lava-success absolute inline-flex h-full w-full rounded-full opacity-20;
}

.popover {
  z-index: 99999999999999999999999;
  @apply bg-lava-800 border-lava-700 absolute w-max rounded-lg border border-solid border-opacity-50 bg-opacity-[80%] p-2 px-3 text-sm;
}

.popover--message {
  @apply text-lava-white mb-0 mt-0 font-medium;
}

.relative {
  position: relative;
  @apply ease transition;
}

.relative:hover .account--type {
  opacity: 0;
}

.relative:hover .trash {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.remove--seed {
  @apply absolute right-0 flex items-center justify-end;
}

.remove--seed img {
  @apply absolute right-2 h-[20px] w-[20px] cursor-pointer;
}

.result--selected {
  @apply hover: !opacity-100 opacity-100;
}

.select--address {
  @apply text-lava-mute ml-auto w-24 truncate text-sm;
}

.select--option {
  @apply box-border flex items-center space-x-2 overflow-hidden;
}

.select--text {
  @apply text-lava-primary font-medium;
}

.sidebar {
  @apply h-100vh bg-lava-900 border-lava-800 relative box-border w-[75px] border-b-0 border-l-0 border-r border-t-0 border-solid;
}

.sidebar--active-link {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    linear-gradient(135deg, #8a54fe 18.75%, #ff5f57 58.85%, #febc2e 100%);
  @apply absolute -left-[10px] mt-3 h-[25px] w-[4px] rounded-l-none rounded-r-full;
}

.sidebar--bottom {
  @apply mb-4 mt-auto;
}

.sidebar--link {
  @apply hover:bg-lava-800 hover: ease relative flex items-center justify-center overflow-hidden rounded-lg !bg-opacity-50 p-3 transition duration-200 hover:cursor-pointer;
}

.sidebar--link-wrapper {
  position: relative;
}

.sidebar--link::after {
  background: radial-gradient(
    #8a54fe,
    #ff5f57 20%,
    #febc2e 40%,
    rgb(0, 0, 0, 0) 100%
  );
  content: "";
  height: 100px;
  left: calc(var(--left, 0) * 1px - 40px);
  mix-blend-mode: darken;
  opacity: 0;
  position: absolute;
  top: calc(var(--top, 0) * 1px - 40px);
  width: 100px;
  z-index: 0;
}

/* .sidebar--link .sidebar--link-bg {
    @apply w-full h-full opacity-0 absolute -z-1 ease-in transition-all bg-lava-primary filter blur-lg rounded-full;
    left: calc(var(--left));
    top: var(--top);
} */
.sidebar--link:hover .sidebar--link-icon {
  filter: brightness(1.25);
}

.sidebar--link:hover::after {
  opacity: 0.3;
}

.sidebar--logo {
  @apply mb-6 mt-8 w-[42px] cursor-pointer;
}

.sidebar--logo-box {
  @apply relative flex;
}

.sidebar--nav {
  @apply relative box-border flex h-full w-full flex-col items-center gap-[12px];
}

.svelte-select {
  position: relative;
  @apply box-border w-full;
}

.svelte-select .clear-select {
  @apply text-lava-mute hover:text-lava-secondary box-border flex h-[32px] w-[32px] cursor-pointer items-center justify-center border-none bg-transparent p-2 outline-none transition duration-200;
}

.svelte-select .empty {
  @apply p-3;
}

.svelte-select .indicators {
  @apply absolute right-5 top-1 h-[16px] w-[16px];
}

.svelte-select .selected-item {
  @apply absolute left-3.5 top-[50%] w-[80%] -translate-y-[50%] transform overflow-hidden truncate text-sm font-medium leading-none;
}

.svelte-select.disabled .value-container:after {
  @apply hidden
}
.svelte-select .value-container:after {
  background-image: url("/chevron.svg");
  background-size: cover;
  content: "";
  @apply absolute right-3 top-1/2 h-[16px] w-[16px] -translate-y-1/2 transform;
}

.svelte-select input {
  @apply bg-lava-bg text-lava-primary border-lava-800 hover:border-lava-700 placeholder-lava-mute mt-0 box-border w-full rounded-[10px] border border-solid p-3 font-medium outline-none transition duration-200;
}

.svelte-select input {
  caret-color: transparent;
}

.svelte-select span {
  @apply hidden;
}

.svelte-select-list {
  z-index: 99999999;
  @apply bg-lava-bg border-lava-800 -mt-3 box-border max-h-[250px] w-full overflow-hidden overflow-y-auto rounded-b-[10px] border border-t-0 border-solid p-1 transition transition-opacity duration-100;
}

.svelte-select-list .item {
  @apply hover:bg-lava-800 box-border flex w-full cursor-pointer truncate rounded-lg p-3 text-sm font-medium transition duration-200;
}

.svelte-select:has(.clear-select) .value-container:after {
  @apply hidden;
}

.test--builder {
  width: calc(100% - 24px) !important;
  @apply bg-lava-bg border-1 border-lava-800 relative relative top-1 ml-2 mr-2 box-border flex h-[99%] flex-col overflow-y-scroll rounded-lg border-solid p-3;
}

.test--builder--empty-state {
  @apply text-lava-mute flex h-full w-full flex-col items-center justify-center gap-y-6 text-lg font-medium;
}

.test--builder--empty-state img {
  @apply h-1/2;
}

.test--content {
  @apply mt-4 w-full space-y-8 pb-12 pr-4;
}

.test--content--list {
  @apply flex flex-col space-y-2 font-mono;
}

.test--content--title {
  @apply mb-1 font-sans text-lg font-medium text-[#54FE98];
}

.test--form {
  @apply mx-auto px-4;
}

.test--form--item {
  @apply flex flex-col gap-y-2;
}

.test--info {
  @apply runcate flex w-full items-center gap-x-2;
}

.test--nested {
  width: calc(100% - 1.5rem);
  @apply border-lava-error space-y-1 border-b-0 border-l border-r-0 border-t-0 border-solid border-opacity-20 pl-3;
}

.test--opened {
  @apply flex-col;
}

.test--opened .tests--sidebar {
  height: 60px !important;
  width: calc(100% - 10px) !important;
  @apply transition duration-200;
}

.test--result {
  @apply box-border flex w-full items-center justify-center gap-x-1;
}

.test--result--fail {
  @apply text-lava-error bg-lava-error border-lava-error box-border flex h-full w-full cursor-pointer items-center justify-center gap-x-2 rounded-xl border border-solid border-opacity-20 bg-opacity-5 p-2.5 opacity-20 transition duration-200 hover:opacity-60;
}

.test--result--icon {
  @apply h-[16px] w-[16px];
}

.test--result--success {
  @apply text-lava-success bg-lava-success border-lava-success box-border flex h-full w-full cursor-pointer items-center justify-center gap-x-2 rounded-xl border border-solid border-opacity-20 bg-opacity-5 p-2.5 opacity-20 transition duration-200 hover:opacity-60;
}

.test--slot {
  @apply ml-auto flex items-center gap-x-2;
}

.test--slot .trash-icon {
  right: inherit;
  top: inherit;
  @apply relative;
}

.test--title {
  @apply text-lava-secondary truncate font-medium;
}

.test--version {
  @apply text-lava-mute font-mono text-sm font-medium;
}

.testing--for--fail {
  @apply text-lava-error;
}

.testing--for--success {
  @apply text-lava-success;
}

.tests {
  @apply flex max-h-[99vh] w-full;
}

.tests--bottom {
  @apply mt-auto;
}

.tests--buttons {
  @apply flex items-center justify-center space-x-1;
}

.tests--list {
  @apply mt-4 flex w-full flex-col space-y-2;
}

.tests--list--item {
  @apply h-auto max-h-[85vh] w-full overflow-y-auto;
}

.tests--list--item--card {
  @apply border-lava-mute bg-lava-bg relative box-border flex h-auto w-full flex-shrink-0 cursor-pointer flex-col items-start justify-start rounded-xl border border-solid border-opacity-10 p-3 transition duration-200 hover:border-opacity-20;
}

.tests--list--item:hover .auto--save {
  opacity:0;
}

.auto--save {
  @apply text-lava-success text-sm absolute right-4 transition ease-in
}

.tests--list--item:hover .edit-icon {
  opacity: 1;
}

.tests--list--item:hover .trash-icon {
  opacity: 1;
}

.tests--new {
  @apply text-lava-mute mb-3 flex w-full items-center justify-center text-sm font-medium;
}

.tests--new img {
  @apply mr-1 w-[14px];
}

.tests--search--icon {
  @apply bg-lava-bg absolute inset-y-0 left-0 left-2 flex items-center rounded-xl p-3;
}

.tests--sidebar {
  @apply bg-lava-900 border-1 border-lava-800 relative left-1 top-1 box-border flex h-[99%] max-h-[99%] w-[350px] flex-shrink-0 flex-col overflow-hidden rounded-lg border-solid p-3;
}

.tests--sidebar--input {
  @apply indent-lg text-lava-white bg-lava-bg box-border h-[42px] w-full rounded-[10px] border-none p-4 text-[14px] text-lg outline-none;
}

.tests--sidebar--input::placeholder {
  @apply text-lava-mute;
}

.tests--sidebar--search {
  @apply relative mt-3;
}

.tests--sidebar-back {
  @apply absolute left-4 top-4 flex h-[24px] w-[24px] transform items-center justify-center transition duration-100 hover:-translate-x-1 hover:cursor-pointer hover:brightness-125 hover:filter;
}

.tests--sidebar-back img {
  @apply h-[20px] w-[20px];
}

.tests--sidebar-header {
  background: radial-gradient(100% 100% at 50% 0%, #f4f4f5 0%, #a0a0ab 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply flex w-full justify-center;
}

.tests--sidebar-title {
  @apply text-lg font-medium;
}

.tests--subheading {
  @apply text-lava-mute my-2 pl-3 text-[14px] font-medium;
}

.tests--title {
  @apply text-lava-mute my-1 font-medium;
}

.text-lava-error {
  @apply text-lava-error;
}

.title--smaller {
  @apply -mb-2 pb-4 text-5xl;
}

html {
  background: linear-gradient(180deg, #131316, #18181b);
  @apply text-lava-white relative m-0 h-full w-full;
}

.token--header {
  @apply flex w-[60%] items-center;
}

.token--info {
  @apply flex w-full flex-col space-y-2;
}

.token--list {
  @apply relative grid max-h-[75vh] w-[98%] select-none gap-2 lg:grid-cols-4;
}

.token--list--item {
  aspect-ratio: 4/3;
  @apply bg-lava-card relative box-border box-border flex h-full w-full cursor-pointer flex-col items-start space-y-2 overflow-hidden rounded-2xl p-5 py-4;
}

.token--list--item--shimmer {
  background: radial-gradient(var(--hoveredColor) 0%, transparent 100%);
  border-radius: 999999px;
  display: none;
  filter: blur(20px);
  height: 200px;
  left: calc(var(--left) * 1px - 100px);
  position: absolute;
  top: calc(var(--top) * 1px - 100px);
  width: 200px;
  z-index: 0;
}

.token--list--item::after {
  background: linear-gradient(180deg, var(--bgColor), transparent 100%);
  content: "";
  @apply absolute left-0 top-0 h-[60%] w-full;
}

.token--list--item::before {
  background: linear-gradient(
    30deg,
    transparent,
    transparent,
    var(--color),
    var(--color2),
    transparent,
    transparent 100%
  );
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: var(--opacity);
  overflow: hidden;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
  z-index: 100;
}

.token--list:-webkit-scrollbar {
  width: 0.5em;
}

.token--list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-lava-700;
}

.token--name {
  @apply truncate font-mono text-[20px] font-medium;
}

.token--owner {
  box-sizing: border-box;
  @apply border-lava-700 text-lava-mute flex h-[26px] w-[26px] items-center justify-center rounded-[7px] border-solid border-opacity-80 text-xs;
}

.token--owner-icon {
  @apply h-[16px] w-[16px];
}

.token--owners {
  @apply text-lava-mute relative flex w-full items-center space-x-1 text-sm font-medium;
}

.token--program::after {
  background: linear-gradient(
    var(--rotate),
    transparent,
    #ffbe41,
    #825e18,
    transparent 100%
  );
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
  @apply transition duration-200;
}

.token--program:hover {
  background: linear-gradient(180deg, rgba(255, 190, 65, 0.1), #1e1f22);
  border-radius: inherit;
  @apply transition transition-opacity duration-200;
}

.token--supply {
  color: var(--supply);
  @apply brightness-120 w-full truncate font-mono text-[16px] font-medium filter;
}

.token--assign {
  @apply font-mono
}

.token--supply--modal {
  color: var(--supply);
  @apply brightness-120 w-full truncate font-mono text-[14px] font-medium filter;
}

.token--ticker {
  @apply ml-2 truncate text-lg font-bold;
}

.tokens {
  @apply relative flex h-full w-full flex-col;
}

.tokens--title {
  @apply my-0;
}

.tokens-button {
  display: none;
}

.tokens-button {
  background: transparent;
  border: 1px solid #383a41;
  border-radius: 0.3rem;
  color: white;
  display: inline;
  padding-inline: 0;
  position: relative;
  width: 1.2rem;
  z-index: 99999999;
  @apply transition-all;
}

.tokens-button:hover {
  @apply scale-110 transform cursor-pointer duration-200;
}

.trash {
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 0;
  z-index: 100;
}

.trash img {
  height: 100%;
  width: 100%;
}

.trash-icon {
  background-color: #9292ad;
  cursor: pointer;
  height: 20px;
  -webkit-mask: url("/trash.svg") no-repeat 50% 50%;
  mask: url("/trash.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  transition: 200ms;
  width: 20px;
  z-index: 100;
}

.trash-icon:hover {
  background-color: #ff2950;
}

.view--selected {
  @apply bg-lava-700 text-lava-white !hover:bg-opacity-70 bg-opacity-70 font-medium opacity-100 transition transition-all duration-300;
}

.view--text {
  @apply px-0.5;
}

.wallet--address {
  @apply text-lava-mute max-w-[95%] truncate font-mono;
}

.wallet--footer {
  @apply text-lava-secondary !mt-auto flex-col items-center space-y-2 text-base font-medium;
}

.wallet--footer span {
  @apply text-lava-mute font-mono text-sm tracking-wider;
}

.wallet--info {
  @apply flex w-[60%] items-center space-x-2;
}

.wallet--list {
  @apply relative grid max-h-[75vh] w-[98%] gap-2 overflow-y-auto pr-4 lg:grid-cols-4;
}

.wallet--list--content {
  aspect-ratio: 4/3;
  z-index: 999;
  @apply bg-lava-card relative box-border box-border flex h-full w-full cursor-pointer flex-col items-start space-y-2 overflow-hidden rounded-2xl bg-opacity-90 p-5 py-4 transition-all;
}

.wallet--list--content::after {
  background: linear-gradient(180deg, var(--bgColor), transparent 100%);
  content: "";
  opacity: 1;
  z-index: 0;
  @apply absolute left-0 top-0 h-[60%] w-full;
}

.wallet--list--item {
  z-index: 0;
  @apply bg-lava-card relative box-border flex h-[200px] w-full flex-col overflow-hidden rounded-2xl p-[1.5px];
}

.wallet--list--item::before {
  background: linear-gradient(
    30deg,
    transparent,
    transparent,
    var(--color),
    var(--color2),
    transparent,
    transparent 100%
  );
  border-radius: 15px;
  content: "";
  inset: 0px;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.6;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  @apply transition duration-500;
}

.wallet--list--item:hover > .token--list--item--shimmer {
  display: block;
  opacity: 0.5;
}

.wallet--list--item:hover::before {
  opacity: 0;
  @apply transition duration-500;
}

.wallet--list::-webkit-scrollbar {
  width: 0.5em;
}

.wallet--list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-lava-700;
}

.wallet--modal--item {
  @apply bg-lava-700 border-lava-700 box-border flex h-full w-full flex-col rounded-xl border border-solid bg-opacity-20 p-3;
}

.wallet--modal--item--amount {
  @apply mt-1 flex items-center space-x-1;
}

.wallet--modal--item--amount span {
  @apply text-lava-mute font-medium;
}

.wallet--modal--item--header {
  @apply flex items-center space-x-2;
}

.wallet--modal--list {
  @apply grid w-full grid-cols-2 gap-3;
}

.wallet--modal--name {
  @apply text-lava-primary my-0 font-semibold;
}

.wallet--name {
  @apply text-lava-primary my-0 truncate text-lg font-bold;
}

.wallet--token--more {
  box-sizing: border-box;
  @apply border-lava-700 text-lava-mute flex h-[26px] w-[26px] items-center justify-center rounded-[7px] border-solid border-opacity-80 text-xs;
}

.wallet--tokens {
  @apply text-lava-mute mb-2 mt-6 font-medium;
}

.wallet--tokens--list {
  @apply relative mt-2 flex items-center gap-x-1;
}

.welcome--gradient {
  @apply absolute -top-[30%] xl:-top-[10%];
}

.welcome--page {
  @apply relative flex h-full w-full flex-col items-center justify-center overflow-hidden;
}

.welcome--subtitle {
  @apply text-lava-mute text-[1.1rem] font-normal;
}

.welcome--title {
  background: linear-gradient(180deg, #f4f4f5 0%, #d1d1d6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  mix-blend-mode: color-dodge;
  -webkit-text-fill-color: transparent;
  @apply mb-2 pt-12 text-[68px] font-semibold;
}

.workspace--active {
  @apply text-lava-success ml-auto text-sm;
}

.workspace--btn {
  @apply ml-auto flex items-center gap-x-2;
}

.workspace--btn img {
  @apply h-[20px] w-[20px];
}

.workspace--create--option {
  @apply flex flex-row items-start items-center;
}

.workspace--create--options {
  @apply divide-light-50 mt-7 flex flex-col gap-[15px] divide-y;
}

.workspace--create--text {
  @apply block space-y-1;
}

.workspace--create--text--subtitle {
  @apply text-lava-secondary text-[14px];
}

.workspace--create--text--title {
  @apply text-lava-white relative mb-2 cursor-pointer text-[16px] font-medium;
}

.workspace--create--text--title.active {
  @apply font-bold;
}

.workspace--create--text--title.active::before {
  content: "";
  @apply bg-lava-success absolute -left-4 top-1/2 h-2 w-2 -translate-y-1/4 transform rounded;
}

.workspace--create--title {
  @apply text-lava-mute text-[16px] font-medium;
}

.workspace--edit {
  background-color: #9292ad;
  cursor: pointer;
  height: 16px;
  -webkit-mask: url("/edit.svg") no-repeat 50% 50%;
  mask: url("/edit.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  overflow: hidden;
  transition: 200ms;
  width: 16px;
  z-index: 100;
  @apply ml-2;
}

.workspace--getting-started {
  @apply col-span-3 mt-10 flex w-full flex-col gap-y-4;
}

.workspace--getting-started--card {
  @apply bg-lava-card border-lava-mute ease relative box-border flex h-96 w-full cursor-pointer flex-col gap-y-6 overflow-hidden rounded-2xl border border-solid border-opacity-10 p-5 transition;
}

.workspace--getting-started--card::before {
  background: linear-gradient(180deg, transparent, var(--color));
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.07;
  position: absolute;
  top: 0;
  width: 100%;
}

.workspace--getting-started--graphic {
  @apply -top-30 absolute -right-12 h-64;
}

.workspace--getting-started--grid {
  @apply grid grid-cols-1 gap-4 lg:grid-cols-4;
}

.workspace--getting-started--step {
  @apply relative flex h-full flex-col gap-x-4;
}

.workspace--getting-started--step--subtitle {
  @apply text-lava-mute mt-2;
}

.workspace--getting-started--step--title {
  @apply text-lava-primary mt-auto text-lg font-medium;
}

.workspace--getting-started--step-icon {
  @apply relative h-[30px] w-[30px];
}

.workspace--getting-started--step-icon::before {
  background-color: var(--color);
  content: "";
  height: calc(100% + 7px);
  opacity: var(--opacity);
  @apply absolute left-1/2 top-full w-[3px] -translate-x-1/2 -translate-y-[3px] transform;
}

.workspace--getting-started--title {
  @apply text-lava-primary text-lg font-medium;
}

.workspace--home {
  @apply flex h-screen w-full items-center;
}

.workspace--home--create {
  @apply mt-16 box-border flex w-full flex-col justify-start;
}

.workspace--home--header {
  @apply flex flex-col items-center space-y-2 pt-12;
}

.workspace--home--recents {
  @apply mt-12 box-border flex w-full flex-col justify-start px-12;
}

.workspace--home--title {
  @apply text-4xl font-bold;
}

.workspace--home--title span {
  background: radial-gradient(
      100% 100% at 50% 0%,
      rgb(244, 244, 245, 0.2) 0%,
      rgb(244, 244, 245, 0.6) 100%
    ),
    linear-gradient(107deg, #fe9154 0%, #fe6054 50.19%, #8a54fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.workspace--home--version {
  @apply text-lava-mute absolute relative;
}

.workspace--idl {
  @apply col-span-2 mt-10 flex h-full w-full flex-col gap-y-4;
}

.workspace--idl--card {
  @apply bg-lava-card border-lava-mute relative box-border flex w-full flex-col gap-y-6 overflow-hidden rounded-2xl border border-solid border-opacity-10 p-5;
}

.workspace--idl--header {
  @apply -mt-4 flex items-center gap-x-2;
}

.workspace--left {
  @apply flex h-full w-[60%] flex-col items-center px-24;
}

.workspace--list--item {
  @apply flex items-center;
}

.workspace--list--item--text {
  @apply relative w-[60%];
}

.workspace--list--item--text--title {
  @apply text-lava-white relative truncate text-[16px] font-medium;
}

.workspace--list--item--text.active {
  @apply font-bold;
}

.workspace--list--item--text.active::before {
  content: "";
  @apply bg-lava-success absolute -left-4 top-1/2 h-2 w-2 -translate-y-1/4 transform rounded;
}

.workspace--logo {
  @apply mb-4 w-[150px];
}

.workspace--option {
  aspect-ratio: 1/1;
  @apply bg-lava-card relative m-auto flex items-center justify-center rounded-3xl p-6 text-center transition duration-200;
}

.workspace--option-box {
  max-width: 225px;
  @apply bg-lava-card box-border cursor-pointer rounded-3xl bg-opacity-0 p-4 px-6 text-center transition duration-200 hover:bg-opacity-20;
}

.workspace--option-box:hover .workspace--option::after {
  opacity: 0.6;
  @apply transition duration-200;
}

.workspace--option-btn {
  @apply ml-auto h-[40px] w-[80px];
}

.workspace--option-img {
  @apply mr-3 h-[40px] w-[40px] flex-shrink-0;
}

.workspace--option::after {
  background: linear-gradient(var(--rotate), #8a54fe, #fe9154, #fe605414 50%);
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
  @apply transition duration-200;
}

.workspace--option::before {
  background: linear-gradient(180deg, #383a41, #383a4120);
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
}

.workspace--option:hover .workspace--plus {
  transform-origin: top;
  @apply rotate-90 transform opacity-100 transition duration-200;
}

.workspace--options {
  @apply flex gap-x-12 pb-12 pt-8;
}

.workspace--plus {
  transform-origin: top;
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rotate-0 transform opacity-50 transition duration-200;
}

.workspace--right {
  @apply border-left border-lava-800 border-b-none border-r-none border-t-none h-full w-[40%] border-l border-solid bg-[#0B0B0D] bg-opacity-20;
}

.workspace--sol {
  mix-blend-mode: overlay;
  transform-origin: top;
  z-index: 10000;
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rotate-0 transform transition duration-200;
}

.workspace--stat {
  @apply bg-lava-card relative box-border flex h-max w-full items-center space-x-2 overflow-hidden rounded-2xl p-4;
}

.workspace--stat--content {
  @apply flex h-full w-full flex-col;
}

.workspace--stat--icon {
  @apply mr-3 h-[54px] w-[54px] flex-shrink-0;
}

.workspace--stat--title {
  @apply text-lava-mute mt-1;
}

.workspace--stat--value {
  @apply text-lava-white text-3xl font-bold;
}

.workspace--stat::after {
  background: linear-gradient(130deg, var(--color), transparent);
  border-radius: 15px;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  @apply transition duration-500;
}

.workspace--stat::before {
  background: linear-gradient(130deg, #383a4180, #383a4120);
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask:
    linear-gradient(black 0 0) content-box,
    linear-gradient(black 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1.5px;
  pointer-events: none;
  position: absolute;
}

.workspace--stats {
  @apply relative z-10 box-border grid w-full grid-cols-1 gap-2 lg:grid-cols-4;
}

.workspace--subtitle {
  @apply text-lava-mute mt-0 text-sm font-normal;
}

.workspace--title {
  @apply text-lava-primary mb-2 mt-6 text-base font-medium;
}

.workspace--view {
  @apply relative flex h-full w-full flex-col gap-4;
}

.wrapper {
  @apply flex w-full overflow-hidden;
}

.export--wrapper {
  @apply p-8;
}